doctype html
html(lang='en')
head
  link(rel='stylesheet', type='text/css', href='../style.css')
body
.container
  include ./viewlets/banner.pug
  .main
    include ./viewlets/textbox.pug
    small= `psst! use your Tab key to indent, and press that Save button up there when you're done editing. you can also change between editing your site and blogging by clicking the mode button`
  .footer
    p &copy; 2024- buddynet llc. all rights reserved(?)